{% spaceless %}
<table class="vlabs-cms-block-template-table4 table table-bordered">
    <thead>
    <tr>
        <th><p><br></p></th>
        <th><p><br></p></th>
        <th><p><br></p></th>
        <th><p><br></p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p><br></p></td>
        <td><p><br></p></td>
        <td><p><br></p></td>
        <td><p><br></p></td>
    </tr>
    </tbody>
</table>
{% endspaceless %}