{% spaceless %}
<table class="vlabs-cms-block-template-table2 table table-bordered table-condensed">
    <thead>
    <tr>
        <th width="50%"><p><br></p></th>
        <th><p><br></p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="50%"><p><br></p></td>
        <td><p><br></p></td>
    </tr>
    </tbody>
</table>
{% endspaceless %}