{% extends 'VlabsCmsBundle::base.html.twig' %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <hr>
    <div class="text-right">{{ post.publishedAt|localizeddate('long') }}</div>
    <div>{{ post.content|raw }}</div>

{% endblock %}