<div class="modal" data-modal="video">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close">
                    <i class="fa fa-close"></i>
                </button>
                <h4 class="modal-title">Insertion d'une vidéo YouTube</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Code d'intégration <i class="fa fa-fw fa-question-circle cursor-help" data-title="Clique droit sur la vidéo puis sélectionnez Copier le code d'intégration"></i></label>
                    <textarea class="form-control" style="max-width: 100%"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success">
                    <i class="fa fa-check"></i>
                    <span>Intégrer</span>
                </button>
            </div>
        </div>
    </div>
</div>