<div class="pull-right">
    <a href="{{ back }}" class="btn btn-sm btn-default">
        <i class="fa fa-fw fa-caret-left"></i>
        <span>{{ 'back'|trans({}, 'vlabs_cms') }}</span>
    </a>
</div>